In [1]:
import pandas as pd
import openrouteservice as ors
from openrouteservice.directions import directions
from openrouteservice import convert
import numpy as np

In [2]:
client = ors.Client(key='')

In [12]:
df = pd.read_csv("../webscrap_data.csv")
df.head()
df = df.iloc[:,0:9]

In [13]:
df.columns = ['url', 'postcode', 'longitude', 'latitude', 'price', 'bed', 'bath', 'parking', 'desc']
df.head()

,url,postcode,longitude,latitude,price,bed,bath,parking,desc
0,https://www.domain.com.au/9-21-rockley-road-so...,3141,144.999757,-37.837338,400.0,1,1,1.0,"LIGHT, LOCATION AND IMPRESSIVE ENHANCEMENTS In..."
1,https://www.domain.com.au/35-233-canterbury-ro...,3182,144.976195,-37.859150,360.0,1,1,1.0,PLEASE NOTE THAT THIS PROPERTY IS OFFERED UN-F...
2,https://www.domain.com.au/2-31-howitt-street-s...,3141,145.002817,-37.846776,320.0,1,1,NaN,ARRANGE AN INSPECTION TIME ONLINE - DETAILS BE...
3,https://www.domain.com.au/2-17-railway-parade-...,3163,145.069344,-37.891722,360.0,1,1,1.0,The Vida apartments offer quality living in a ...
4,https://www.domain.com.au/4-653-park-street-br...,3056,144.964991,-37.778276,380.0,1,1,1.0,AFFORDABLE OPPORTUNITY IN EXCLUSIVE BRUNSWICK!...

In [14]:
df_coords = df[['longitude', 'latitude']]
df_coords.head()

    longitude   latitude
0  144.999757 -37.837338
1  144.976195 -37.859150
2  145.002817 -37.846776
3  145.069344 -37.891722
4  144.964991 -37.778276

In [15]:
mel_coords = (144.946457, -37.840935) # coordinates of melbourne cbd

In [16]:
tuples = [tuple(x) for x in df_coords.to_numpy()]
tuples[0]

(144.9997572, -37.837338)

In [17]:
dist = []

In [ ]:
# find the distance and time for each rental to melbourne cbd
for i in range(0, 2000):
    coords = (mel_coords, tuples[i])
    #call API
    res = client.directions(coords)
    dist.append(res['routes'][0]['summary']['distance'] / 1000)

In [ ]:
for i in range(2001, len(tuples)):
    coords = (mel_coords, tuples[i])
    #call API
    res = client.directions(coords)
    dist.append(res['routes'][0]['summary']['distance'] / 1000)

In [27]:
# add into dataframe in km
df['cbd_dist'] = dist

282

In [ ]:
df.to_csv(r'../data/curated/data.csv', index = False)