In [1]:
import pandas as pd
import csv

In [2]:
#read and process population data
df=pd.read_excel("../data/raw/sa2-pop.xlsx")
data_vic=df[(df['            Australian Bureau of Statistics']==2)]
data_cols=data_vic.iloc[:,[8,9,20,21,22,23,24,25,26,27,28,29,30,32,33]]
data_cols.to_csv('../data/curated/pop.csv',index=False,
                 header=['SA2 code','SA2 name','2011 no.','2012 no.','2013 no.','2014 no.',
                 '2015 no.','2016 no.','2017 no.','2018 no.','2019 no.','2020 no.','2021 no.',
                 'Change 2011-2021 no.','Change 2011-2021 %'])

In [5]:
pop=pd.read_csv('../data/curated/pop.csv')
pop

,SA2 code,SA2 name,2011 no.,2012 no.,2013 no.,2014 no.,2015 no.,2016 no.,2017 no.,2018 no.,2019 no.,2020 no.,2021 no.,Change 2011-2021 no.,Change 2011-2021 %
0,201011001,Alfredton,8452,9060,9714,10338,11039,11852,12639,13520,14408,15472,16823,8371,99.0
1,201011002,Ballarat,12365,12357,12352,12327,12300,12301,12261,12237,12311,12183,12076,-289,-2.3
2,201011005,Buninyong,6725,6854,6984,7082,7191,7311,7407,7413,7452,7369,7232,507,7.5
3,201011006,Delacombe,5838,6020,6267,6583,6846,7195,7617,8174,8876,9736,10640,4802,82.3
4,201011007,Smythes Creek,3819,3872,3914,3945,3966,3990,4002,4040,4109,4148,4213,394,10.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,217031476,Otway,3420,3456,3497,3519,3538,3556,3633,3707,3797,3905,3978,558,16.3
518,217041477,Moyne - East,6779,6764,6749,6734,6716,6709,6714,6741,6790,6873,6989,210,3.1
519,217041478,Moyne - West,9024,9167,9300,9383,9467,9603,9681,9773,9833,9842,9963,939,10.4
520,217041479,Warrnambool - North,19879,20253,20612,20930,21217,21442,21676,21934,22157,22379,22462,2583,13.0
521,217041480,Warrnambool - South,13141,13146,13157,13154,13150,13173,13192,13214,13247,13323,13292,151,1.1

In [6]:
#forecast population for next three years by change rate
pop['2022 no.']=round(pop['2012 no.']+pop['2012 no.']*pop['Change 2011-2021 %']*0.01)
pop['2023 no.']=round(pop['2013 no.']+pop['2013 no.']*pop['Change 2011-2021 %']*0.01)
pop['2024 no.']=round(pop['2014 no.']+pop['2014 no.']*pop['Change 2011-2021 %']*0.01)
pop['2025 no.']=round(pop['2015 no.']+pop['2015 no.']*pop['Change 2011-2021 %']*0.01)
pop

,SA2 code,SA2 name,2011 no.,2012 no.,2013 no.,2014 no.,2015 no.,2016 no.,2017 no.,2018 no.,2019 no.,2020 no.,2021 no.,Change 2011-2021 no.,Change 2011-2021 %,2022 no.,2023 no.,2024 no.,2025 no.
0,201011001,Alfredton,8452,9060,9714,10338,11039,11852,12639,13520,14408,15472,16823,8371,99.0,18029.0,19331.0,20573.0,21968.0
1,201011002,Ballarat,12365,12357,12352,12327,12300,12301,12261,12237,12311,12183,12076,-289,-2.3,12073.0,12068.0,12043.0,12017.0
2,201011005,Buninyong,6725,6854,6984,7082,7191,7311,7407,7413,7452,7369,7232,507,7.5,7368.0,7508.0,7613.0,7730.0
3,201011006,Delacombe,5838,6020,6267,6583,6846,7195,7617,8174,8876,9736,10640,4802,82.3,10974.0,11425.0,12001.0,12480.0
4,201011007,Smythes Creek,3819,3872,3914,3945,3966,3990,4002,4040,4109,4148,4213,394,10.3,4271.0,4317.0,4351.0,4374.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,217031476,Otway,3420,3456,3497,3519,3538,3556,3633,3707,3797,3905,3978,558,16.3,4019.0,4067.0,4093.0,4115.0
518,217041477,Moyne - East,6779,6764,6749,6734,6716,6709,6714,6741,6790,6873,6989,210,3.1,6974.0,6958.0,6943.0,6924.0
519,217041478,Moyne - West,9024,9167,9300,9383,9467,9603,9681,9773,9833,9842,9963,939,10.4,10120.0,10267.0,10359.0,10452.0
520,217041479,Warrnambool - North,19879,20253,20612,20930,21217,21442,21676,21934,22157,22379,22462,2583,13.0,22886.0,23292.0,23651.0,23975.0
521,217041480,Warrnambool - South,13141,13146,13157,13154,13150,13173,13192,13214,13247,13323,13292,151,1.1,13291.0,13302.0,13299.0,13295.0

In [7]:
pop.to_csv('../data/curated/pop_forecast.csv',index=False)